*{
  box-sizing: border-box;
}

.container{
  display: flex;
  align-items: center;
  flex-direction: column;
}

h1{
  width: 100%;
  text-align: center;
}

.form-container{
  width: 60%;
}

label{
  text-align: left;
}

.form-input{
  width: 98%;
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 1%;
}


/* Member Box CSS */
.member-box{
  width: 60%;
  border: 1px solid #afafaf;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
}